<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">


    <!--而在springMVC配置文件中将Service注解给去掉-->
    <context:component-scan base-package="com.grass" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />-->
    </context:component-scan>

    <!-- 静态资源解析
    包括 ：js、css、img、..
     -->

    <mvc:annotation-driven/>


    <!--拦截器-->
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash;使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 &ndash;&gt;-->
        <!--<bean class="com.healthgo.doctor.interceptor.VisitSystemInterceptor"/>-->
    <!--</mvc:interceptors>-->


    <!-- 文件上传 -->
    <!--<bean id="multipartResolver"-->
          <!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--&lt;!&ndash; 设置上传文件的最大尺寸为5MB &ndash;&gt;-->
        <!--<property name="maxUploadSize">-->
            <!--<value>5242880</value>-->
        <!--</property>-->
    <!--</bean>-->

</beans>