<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grass.mapper.ImagesInfoMapper">

    <insert id="saveImageInfo" parameterType="imagesInfo">

        insert into t_images_info (imageUrl, imageWidth, imageHeight, imageSize)
                            values (#{imageUrl},#{imageWidth},#{imageHeight},#{imageSize});

    </insert>

</mapper>