<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grass.mapper.TokenMapper">

    <insert id="save" parameterType="token">

        insert into t_token (id, userId, careatTime, updateTime)
                      values (#{id},#{userId},#{careatTime},#{updateTime});

    </insert>

</mapper>